<!doctype html>
<html layout:decorator="estructuraPrincipal">
	<head>
		<title>Detalle del Libro</title>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		<script src="https://static.filestackapi.com/v3/filestack.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script src="/js/general.js"></script>
		<script src="/js/imagen.js"></script>
		<meta charset="UTF-8"></meta>
	</head>
	<body id="page-top" layout:fragment="contenido">
		<header class="masthead text-center text-white d-flex detalle">
				<div class="container my-auto">
				<div class="row">
				<div class="col-lg-8 mx-auto">
					<p class="section-heading text-white">Información del libro: </p>
					<img th:src="${urlImagen}" onerror="this.src='https://res.cloudinary.com/dbvpxjxay/image/upload/v1528593595/mi_carpeta/wfpklnhplbcvjzethqkt.png'" title="imagenDePerfil" class="verPortada"></img><br></br>
					<p class="section-heading text-white">Titulo: </p> <label th:text="${titulo}">Titulo</label><br></br>
					<p class="section-heading text-white">Autor: </p><label th:text="${autor_a}">Autor</label><br></br>
					<p class="section-heading text-white">Editorial: </p><label th:text="${editorial}">Editor</label><br></br>
					<p class="section-heading text-white">Año: </p><label th:text="${anio}">Anio</label><br></br>
					<p class="section-heading text-white">Sinopsis:</p>
					<label th:text="${sinopsis}"></label><br></br>
					<p class="section-heading text-white">Genero: </p> <label th:text="${genero}"></label><br></br>
				<a class="btn btn-primary btn-xs js-scroll-trigger"  href="/listadoDeLibros/">Volver a listado</a><br></br>
					<a class="btn btn-primary btn-xs js-scroll-trigger"  th:href="'/agregarFavorito/' + ${id}">Agregar a lista de favoritos</a>
				</div>
			</div>
		</div>
	</header>
	    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Comentarios</h2>
        <form th:action="'/procesarComentario/' + ${id}">
       <textarea rows="" cols="" name="comentario" th:value="${comentario}"></textarea> 
         <input class="btn btn-primary btn-xl js-scroll-trigger" type="submit"></input>
       </form>
       <div class="col-sm-2 col-sm-1 bg-primary text-center" th:each="comentarios:${listadoComentarios}">
       <label class="text-center" th:text="${comentarios.comentario}"></label><br></br><br></br>
       </div>
      </div>
    </section>
</body>
</html>