<!doctype html>
<html>
	<head>
	 <title>Detalle libro</title>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
		<div class="tarjeta-libros">
			<img th:src="${urlImagen}" title="imagenDePortada" class="imagenDePortada"></img><br></br>
			<label>Titulo: </label><label th:text="${titulo}">to</label><br></br>
			<label>Autor: </label><label th:text="${autor_a}">sdds</label><br></br>
			<label>Editorial: </label><label th:text="${editorial}">true</label><br></br>
			<label>Año: </label><label th:text="${anio}">true</label><br></br>
			<label>Sinopsis:</label><br></br>
			<label th:text="${sinopsis}"></label><br></br>
			<label>Genero: </label><label th:text="${genero}"></label><br></br>
			<a href="/listadoDeLibros/">Volver a listado</a>
		</div>
		<form th:action="'/procesarComentario/' + ${id}" method="POST">
			<textarea cols="" name="comentario" placeholder="Agregar comentario..."></textarea>
			<input type="submit"></input>
			</form>
		<div class="tarjeta-comentarios" th:each="comentarios:${listadoComentarios}">
			<label th:text="${comentarios.comentario}">Comentario</label><br></br>
		</div>
	</body>

</html>