<!doctype html>
<html>
	<head>
		<title>Listado de Libros</title>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>

		<script src="/js/general.js"></script>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
		<form action="/resultado-busqueda/ + ${busqueda}" method="POST">
			<input type="text" name="tituloBuscado" placeholder="Buscar por titulo" th:value="${tituloBuscado}"></input>
			<input type="submit" value="Buscar"></input><br></br>
			<input type="text" name="autorBuscado" placeholder="Buscar por autor" th:value="${autorBuscado}"></input>
			<input type="submit" value="Buscar"></input><br></br>
		</form>
		<input id="seleccionarTodas" type="checkbox" ></input>
		<label>Seleccionar todos</label><br></br>
		
	<!-- buscar th:src if condition -->
		
		<div class="tarjeta-libros" th:each="libros:${listadoLibros}">
			<img th:src="${libros.url_fotolibro}" title="imagenDePortada" class="verPortada"></img><br></br>
			<label>Titulo: </label><a th:href="'/detalleLibro/' + ${libros.id}" th:text="${libros.titulo}">Titulo</a><br></br>
			<label>Autor: </label><label th:text="${libros.autor}">Autor</label><br></br>
			<label>Editorial: </label><label th:text="${libros.editorial}">Editorial</label><br></br>
			<label>Año: </label><label th:text="${libros.anio}">2018</label><br></br>
			<label>Genero: </label><label th:text="${libros.genero}">Genero</label><br></br>
			<a th:href="'/editarLibro/' + ${libros.id}">Editar libro</a>
			<a th:href="'/eliminarLibro/' + ${libros.id}">Eliminar libro</a>
		</div>
	</body>
</html>