<!doctype html>
<html layout:decorator="nav">
	<head>
		<title>Favoritos</title>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		<script src="https://static.filestackapi.com/v3/filestack.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>

		<script src="/js/general.js"></script>
		<meta charset="UTF-8"></meta>
	</head>

 <body id="page-top" layout:fragment="contenido">
    <header class="masthead text-center text-white d-flex favoritos" >
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Favoritos </strong>
            </h1>
            <hr></hr>
          </div>
        </div>
      </div>
    </header>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0 bg-dark text-white">
        <div class="row no-gutters popup-gallery">
          <div class="col-sm-2 col-sm-1" th:each="libros:${listadoLibros}">
            <a class="portfolio-box" th:href="'/detalleLibro/' + ${libros.id}">
            <img th:src="${libros.url_fotolibro}" 
            onerror="this.src='https://res.cloudinary.com/dbvpxjxay/image/upload/v1528593595/mi_carpeta/wfpklnhplbcvjzethqkt.png'" title="imagenDePortada" class="verPortada img-fluid"></img> 
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded" th:text="${libros.titulo}">
                    Titulo
                  </div>
                  <div class="project-name" th:text="${libros.autor}">
                    Autor
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
	</body>
</html>