<!doctype html>
<html layout:decorator="estructuraPrincipal">
	<head>
		<title>Usuario Eliminado</title>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
	<script src="/js/imagen.js"></script>
		<meta charset="UTF-8"></meta>
	</head>
<body id="page-top" layout:fragment="contenido">
		<header class="masthead text-center text-white d-flex">
				<div class="container my-auto">
				<div class="row">
				<div class="col-lg-8 mx-auto">
					<p class="section-heading text-white">Tu usuario fue eliminado</p>
				</div>
			</div>
		</div>
	</header>
</body>
</html>