<!doctype html>
<html>
	<head>
		<title>Listado de Usuarios</title>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
		<script src="/js/listado.js"></script>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
		<form action="/resultado-busqueda">
			<input type="text" name="palabraBuscada"></input>
			<input type="submit" value="Buscar"></input><br></br>
			<label>Seleccionar todos</label>
			<input id="seleccionarTodas" type="checkbox" ></input>
		
		</form>
	
		<div class="tarjeta-libros" th:each="usuarios:${listadoUsuarios}">
			<img th:src="${usuarios.url_imagen}" title="imagenDePerfil" class="imagenDePerfil"></img>
			<label>Nombre: </label><a th:href="'/detalleUsuario/' + ${usuarios.id}" th:text="${usuarios.nombre}">Nombre</a><br></br>
			<label>contrasenia: </label><label th:text="${usuarios.contrasenia}">Contrasenia</label><br></br>
			<a th:href="'/editarUsuario/' + ${usuarios.id}">Editar usuario</a>
			<a th:href="'/eliminarUsuario/' + ${usuarios.id}">Eliminar usuario</a>
		</div>
	</body>
</html>