<!doctype html>
<html>
	<head>
		<title>Editar Usuario</title>
		<link rel="stylesheet" type="text/css" href="/css/estilos.css"></link>
		<script src="https://static.filestackapi.com/v3/filestack.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
	<script src="/js/imagen.js"></script>
		<meta charset="UTF-8"></meta>
	</head>

	<body>
		<h2>Ingrese sus datos: </h2>
		<label th:text="${mensaje}"></label>
		
		<form th:action="'/modificarUsuario/' + ${id}" method="POST">
			<img th:src="${urlImagen}" onerror="https://res.cloudinary.com/dbvpxjxay/image/upload/v1528594098/mi_carpeta/gux7letqf8gdt2abh9x0.png'" title="imagenDePerfil" class="verImagenPerfil"></img>
			<input id="urlImagen" hidden="hidden" type="text" name="urlImagen" th:value="${urlImagen}"></input>
			<input id="subirImagen" type="button"  value="Cambiar foto"></input><br></br>
			<input type="text" name="nombre" placeholder="Nombre de usuario" th:value="${nombreDeUsuario}"></input>
			<input type="password" name="contrasenia" placeholder="Contraseña" th:value="${contrasenia}"></input>
			<input type="submit" value="Enviar"></input>
		</form>
		
	</body>

</html>